body {
  font-family: Arial, sans-serif;
  background: url("../image/background-home.jpg") no-repeat center center;
  background-size: cover;
  z-index: -1;
  width: 100%;
  position: relative;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.navbar {
  display: inline;
  padding: 10px 40px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
}

.navbar-nav > li {
  padding-right: 10px; /* Reduce padding if necessary */
}

.navbar-brand {
  color: black;
  font-size: 3em;
  font-weight: bold;
}

.navbar-brand:hover {
  color: coral;
}

.navbar-nav {
  list-style-type: none;
  display: inline;
  float: right;
  margin-top: 30px;
  width: 50%;
  padding-right: 40px;

}

.nav-item {
  margin: 0 20px;
  display: inline;
}

.nav-link {
  display: inline;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 1.5em;
  padding: 8px 16px;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
  background-color: coral;
  color: white;
}

.nav-item.active .nav-link {
  color: coral;
}

.nav-item.active .nav-link:hover {
  color: white;
}


/* Define the keyframes for the fade-in effect */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-container {
  position:relative;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(30px);
  padding: 20px;
  border-radius: 10px;
  width: 700px;
  max-width: 70%;
  color: white;
  margin-bottom: 20px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards; /* 1 seconds duration, ease-in-out timing function, forwards to retain final state */
}

.have-account {
  font-size: 24px;
  margin: 0 0 20px;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  margin-top: 50px;
}

h1 {
  font-size: 24px;
  margin: 0 0 20px;
  text-align: center;
  font-size:xx-large;
  font-weight: bold;
  color: white;
}

h2 {
  margin-top: 200px;
  color: black;
  font-weight: bold;
  font-size: x-large;
  padding: 40px;
  border-radius: 10px;
  width: 700px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(30px);
}

.create {
  margin-top: 20px;
}

.login-nav {
  font-size: x-large;
  color: dimgrey;
  padding-top: 20px;
  font-weight: bold;
  animation: fadeIn 2s ease-in-out forwards;
}

.input-group {
  margin-bottom: 15px;
  color: dimgray;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.5);
  color: gray;
  font-size: large;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  color: darkgray;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  color: dimgray;
  border: 2px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  font-size: x-large;
  font-weight: bold;
}

.login-btn:hover {
  background-color: #04AA6D;
  color: white;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  font-size: 12px;
}



.remember-me {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: large;
  color: darkgray
}

.remember-me input[type="checkbox"] {
  margin-right: 5px;
}

.forgot-password {
  color: darkgray;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
}

.container {
  padding: 20px;
  margin-top: 10px;
  margin-top: 150px;
}

h1 {
  margin-bottom: 20px;
  font-size: 2em;
}

.snippets-box {
  margin-top: 200px;
  padding: 20px;
  background-color: #F8F8F8; /* Light grey background */
  margin-bottom: 100px; /* Space below the box */
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Light shadow for a 3D effect */
  position: relative;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: none; /* Remove table borders */
}

.table th, .table td {
  padding: 8px; /* Padding inside table cells */
  text-align: left;
  border-bottom: 1px solid #ddd; /* Light grey border for table rows */
}

.table th {
  background-color: #f2f2f2; /* Slightly darker grey for table headers */
}

.text-muted {
  color: #6c757d;
}

.text-nowrap {
  white-space: nowrap;
}

.btn {
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.btn-update {
  background-color: #28a745; /* Green background */
  margin-right: 5px;
}

.btn-update:hover {
  background-color: #218838; /* Darker green on hover */
}

.btn-delete {
  background-color: #dc3545; /* Red background */
}

.btn-delete:hover {
  background-color: #c82333; /* Darker red on hover */
}

.alert {
  margin-top: 100px; /* Adjust this value as needed */
  color: red; /* Optional: Set the text color for alerts */
  z-index: 1000;
}

.navbar-nav .nav-item form {
  display: inline; /* Ensures form is in line */
}

.navbar-nav .nav-item button.nav-link {
  background: none;
  border: none;
  color: inherit; /* Inherits the color from .nav-link */
  cursor: pointer; /* Keeps the cursor appropriate for links */
  padding: 0; /* Removes padding */
  margin: 0; /* Removes margin */
  font: inherit; /* Inherits font properties from parent */
}


.social-icons {
  margin: 20px 20px;
}

.social-icons img {
  width: 60px;
  height: 60px;
  margin: 0 20px;
}
