<footer class="footer">
    <p>Follow me</p>
    <div class="social-icons">
        <a href="https://github.com/DongzhuTan93"><img src="/image/github.png" alt="Github"></a>
        <a href="https://www.linkedin.com/in/dongzhu-tan-891b13241/"><img src="/image/linkedin.png" alt="linkedin"></a>
    </div>
    <div>
        <a href="/">Terms of Use</a> · 
        <a href="/">Privacy Policy</a>
    </div>
    <p>&copy; 2024 Javascript & Node.js CRUD application. Dongzhu Tan</p>
  </footer>
    