
<form class="login-container" method="post" action="/snippets/<%= viewData?.id %>/delete">
  <h1>Delete snippets </h1>
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <input type="hidden" name="id" value="<%= viewData?.id %>" />
  <div class="col-md-12" style="margin-top: 100px;">
    <h1 class="form-label" for="descriptionInput">
      Are you sure to delete this?
    </h1>
    <input type="text" class="form-control" id="descriptionInput"
      placeholder="Update snippets description here" value="<%= viewData?.description %>"
      disabled />
  </div>
  <div class="create">
    <button type="submit" class="btn btn-primary" autofocus="autofocus">Delete</button>
  </div>
  <div class="create">
    <a href="/snippets/" class="btn btn-primary">Come back</a>
  </div>
</form>
