<from class="login-container">
            <h1>Snippets</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Snippet</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (viewData?.snippets?.length) { %>
                        <% for (const snippet of viewData.snippets) { %>
                            <tr>
                                <td class="w-100 <% if (snippet.done) { %> text-muted <% } %>">
                                    <%- snippet.description.replace(/\n/g, '<br>') %>
                                </td>
                                <td class="text-nowrap">
                                    <a href="/snippets/<%= snippet.id %>/update" class="btn btn-update">Update</a>
                                    <a href="/snippets/<%= snippet.id %>/delete" class="btn btn-delete">Delete</a>
                                </td>
                            </tr>
                        <% } %>
                    <% } else { %>
                        <tr>
                            <td colspan="2" class="content-wrapper">
                                There are no snippets to display!
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
</from>
