<h1>snippets</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Snippet</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% if (viewData?.snippets?.length) { %>
      <% for (const snippets of viewData.snippets) { %>
        <tr>
          <td class="w-100 <% if (snippets.done) { %> text-muted <% } %>">
            <%= snippets .description %>
          </td>
          <td class="text-nowrap">
            <a href="/snippets-app/snippets/<%= snippets.id %>/update">Update</a>
            <a href="/snippets-app/snippets/<%= snippets.id %>/delete">Delete</a>
          </td>
        </tr>
      <% } %>
    <% } else { %>
      <tr>
        <td colspan="3" class="text-center text-danger">
          There are no snippets to display
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
