
<form class="login-container" method="post" action="/snippets/<%= viewData?.id %>/update">
  <h1>Update snippets </h1>
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <div class="col-md-12">
    <label class="form-label" for="descriptionInput">
      Description
    </label>
    <textarea type="text" class="form-control" id="descriptionInput" name="description"
      placeholder="Update snippets description here" required="required"
      autofocus="autofocus" ><%= viewData?.description %></textarea>
  </div>
  <div class="create">
    <button type="submit" class="btn btn-primary">Update</button>
  </div>
</form>
