<div class="content-wrapper">
    <% if (typeof user === 'undefined') { %>
        <div class="login-container">
            <p class="have-account">Have an account?</p>
            <h1>Login</h1>
            <form method="POST" action="/account/Login">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="input-group">
                    <input type="text" id="username" name="usersname" placeholder="Username">
                </div>
                <div class="input-group">
                    <input type="password" id="password" name="userspassword" placeholder="Password">
                </div>
                <button type="submit" class="login-btn">Login</button>
                <div class="form-footer">
                    <label class="remember-me">
                        <input type="checkbox" name="remember">
                        <span>Remember Me</span>
                    </label>
                </div>
            </form>
        </div>
        <a href="/" class="login-nav">Not a member? Sign up</a>
    <% } %>
    <% if (typeof user !== 'undefined') { %>
        <h2>
            Welcome "<%= user.username %>" to our snippets!
        </h2>
    <% } %>
</div>